@use "../../styles/constants.scss" as vars;

.tableSearch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 41px 30px;
  border-radius: 10px;
  background: vars.$white;

  .tableTitle {
    color: vars.$dark4;
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0;
  }

  .searchInput {
    width: 1023px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    background: vars.$lite3;
    border-radius: 8px;
    border: unset;
    margin-left: 310px;
  }

  .searchButton {
    cursor: pointer;
    margin-right: 8px;
  }
}