$white: #ffffff;
$lite: #f9f9f9;
$lite2: #e0e0e0;
$lite3: #f3f3f3;
$lite4: #f6f6f6;
$black: #000000;
$dark: #333333;
$dark2: #161919;
$dark3: #232323;
$dark4: #202020;
$grey: #c4c4c4;
$grey2: #ECECEB;
$grey3: #b2b3b9;
$grey4: #999999;
$grey5: #e2e2e2;
$grey6: #969B9F; 
$grey7: #ededed;
$grey8: #9c9c9c;
$grey9: #6C6C6C;
$blue: #242edb;
$blue2: #3c538e;
$blue3: #797fea;
$red: #F11010;