@font-face {
  font-family: 'Cairo';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-ExtraLight.woff2') format('woff2'),
  url('/fonts/Cairo-ExtraLight.woff') format('woff'),
  url('/fonts/Cairo-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-Light.woff2') format('woff2'),
  url('/fonts/Cairo-Light.woff') format('woff'),
  url('/fonts/Cairo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-Regular.woff2') format('woff2'),
  url('/fonts/Cairo-Regular.woff') format('woff'),
  url('/fonts/Cairo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-SemiBold.woff2') format('woff2'),
  url('/fonts/Cairo-SemiBold.woff') format('woff'),
  url('/fonts/Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-Bold.woff2') format('woff2'),
  url('/fonts/Cairo-Bold.woff') format('woff'),
  url('/fonts/Cairo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cairo';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: 
  url('/fonts/Cairo-Black.woff2') format('woff2'),
  url('/fonts/Cairo-Black.woff') format('woff'),
  url('/fonts/Cairo-Black.ttf') format('truetype');
}

$font-family: "Cairo", system-ui, -apple-system, sans-serif;