@use "../../styles/constants.scss" as vars;

:where(.css-dev-only-do-not-override-tchc97).ant-table-wrapper .ant-table-thead >tr>th {
  color: vars.$grey3;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  padding: 11px 11px 11px 0px;

  &:nth-child(2) {
    padding-left: 2px;
  }
}

:where(.css-dev-only-do-not-override-tchc97).ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}

:where(.css-dev-only-do-not-override-tchc97).ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected >.ant-table-cell {
  background: transparent;

  &:first-child {
    border-left-color: vars.$blue2;
  }
}

:where(.css-dev-only-do-not-override-tchc97).ant-checkbox-checked .ant-checkbox-inner {
  background-color: vars.$blue2;
  border-color: vars.$blue2;
}

:where(.css-dev-only-do-not-override-tchc97).ant-checkbox .ant-checkbox-inner:after {
  display: none;
}

:where(.css-dev-only-do-not-override-tchc97).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover 
.ant-checkbox-checked:not(.ant-checkbox-disabled) 
.ant-checkbox-inner {
  background-color: vars.$blue2;
}

:where(.css-dev-only-do-not-override-tchc97).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner {
  border-color: vars.$blue2;
}

:where(.css-dev-only-do-not-override-tchc97).ant-table-wrapper .ant-table-tbody>tr>td {
  border-top: 1px solid vars.$grey5;
  border-bottom: 1px solid vars.$grey5;
  padding: 11px 11px 11px 0px;

  &:first-child {
    padding: 11px 18px;
    border-left: 3px solid transparent;
  }

  &:nth-child(3) {
    color: vars.$black;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0;
  }

  &:nth-child(n+4) {
    color: vars.$black;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
  }
}

:where(.css-dev-only-do-not-override-tchc97).ant-pagination .ant-pagination-item-active {
  box-shadow: 0px 20px 50px 0px #0000001f;
  background: vars.$blue3;
  border-color: vars.$blue3;

  &:hover {
    border-color: vars.$blue3;
    a {
      color: vars.$white;
    }
  }
}

:where(.css-dev-only-do-not-override-tchc97).ant-pagination .ant-pagination-item {
  border-radius: 4px;
  border: 1px solid vars.$grey2;
  box-shadow: 0px 20px 50px 0px #0000001f;
}

:where(.css-dev-only-do-not-override-tchc97).ant-pagination .ant-pagination-item a {
  color: vars.$grey3;
}

:where(.css-dev-only-do-not-override-tchc97).ant-pagination .ant-pagination-item-active a {
  color: vars.$white;
}

:where(.css-dev-only-do-not-override-tchc97).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin-top: 40px;
}

:where(.css-dev-only-do-not-override-tchc97).ant-pagination .ant-pagination-total-text {
  margin-right: auto;
}

.orderTable {
  .titleInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .plug {
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      border: 1px solid vars.$grey2;
      background: vars.$grey;
    }

    .orderTitle {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 18px;

      & > span:first-child {
        color: vars.$dark2;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0;
        text-align: left;
      }

      & > span:last-child {
        color: vars.$grey3;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0;
        text-align: left;
        margin-top: 10px;
      }
    }
  }

  .lowRating {
    color: vars.$red;
  }
  
  .rounding {
    color: vars.$grey4;
  }

  .tableButton {
    border: none;
    cursor: pointer;
    outline: none;

    &.addedButton {
      padding: 1.5px 14px;
      background-color: vars.$blue;
      border-radius: 23px;
    }

    &.menuButton {
      margin-left: 35px;
      background-color: transparent;
    }
  }

  .customTableArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  .ant-pagination .ant-pagination-disabled .customTableArrow {
    cursor: not-allowed;
  }

  .rowCounts {
    font-size: 16px;
    color: vars.$grey6;
    
    .accentInfo {
      font-weight: 500;
      color: vars.$dark;
    }
  }
}