@use "./styles/fonts.scss" as fonts;
@use "./styles/constants.scss" as vars;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: fonts.$font-family;
    background-color: vars.$lite;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}
