@use "../../styles/constants.scss" as vars;

.loginModal {
  width: 527px;
  height: 716px;
  background-color: vars.$white;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 1),0px 12px 8px 0px rgba(0, 0, 0, 0.03);
  padding: 6px;
  border-radius: 40px;

  .logo {
    width: 52px;
    height: 52px;
    padding: 2px;
    background-color: vars.$white;
    border-radius: 100%;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      // background:
      //   linear-gradient(180deg, #23232308 0%, #23232300 50%) padding-box,
      //   linear-gradient(#fff, #fff) padding-box,
      //   linear-gradient(180deg, #EDEDED 0%, #ededed00 100%) border-box;
      border-radius: 100%;

      background: linear-gradient(0.00deg, #23232300 50%,#2323230f 100%),#ffffff;
    }
  }

  .title {
    color: vars.$dark3;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -0.015em;
    margin-top: 32px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 500;
    background-color: vars.$lite2;
    color: transparent;
    text-shadow: 0px 4px 4px #0000002b;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(0.8);
    line-height: 150%;
    letter-spacing: 0;
    margin-top: 12px;
  }

  .divider {
    width: 399px;
  }

  .createAccount {
    color: vars.$grey9;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;

    .createButton {
      color: vars.$blue;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0;
      padding: 0;
      border-radius: 0px;
      height: 25px;
      
      border: none;
      cursor: pointer;
      outline: none;
      background: transparent;
      border-bottom: 1px solid vars.$blue;       
      
      &:hover {
        border: none;
      }
    }
  }
}

.loginForm {
  margin-top: 32px;

  .loginModalInput {
    width: 399px;
    padding: 14px 16px;
    border: 1.5px solid vars.$grey7;
    border-radius: 12px;
    background: #ffffff;

  }

  .closeButton {
    width: 34px;
    height: 32px;
    padding: 0;
    margin: 0;
  }
  
  .passwordOpenButton {
    width: 34px;
    height: 32px;
    padding: 0 4px;
  }

  .rememberButton {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .loginModalSubmit {
    width: 100%;
    height: auto;
    padding: 16px 8px 16px 8px;

    box-sizing: border-box;
    border: 1px solid #367aff;
    border-radius: 12px;
    box-shadow: 0px 8px 8px 0px #367aff08,inset 0px -2px 0px 1px #00000014;
    background: linear-gradient(0.00deg, #ffffff00 0%,#ffffff1f 100%),#242edb;
  }
}